* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: white;
}

body {
  display: flex;
  color: black;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("https://cdn.corporatefinanceinstitute.com/assets/currency-1024x682.jpeg");
}

h1 {
  text-align: center;
  /* background-color: black; */
  color: #e74c3c;
}

input {
  background-color: white;
}

label {
  margin: 10px;
}

.button {
  text-align: center;
  padding: 50px;
  color: white;
  margin: 10px;
  font-size: 15px;
}


.btn-success {
  text-align: center;
}

.container {
  border: 5px solid #346092;
  padding: 100px;
}

.showExchangeRate {
  margin: 50px;
  text-align: center;
}

#enter-currency {
  text-align: center;
}
